*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.bg{
    background-color: black;
}

.row {
    background-color: rgb(32, 24, 55);
    border-radius: 30px;
    box-shadow: 12px 12px 27px;    
    width: auto;
    height: 37.5rem;

}

img{
    width: 120%;
    height: 37.5rem;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.login img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
} 

.login h1{
    font-size: 4rem;
    color: aliceblue;
    font-weight: 300;
    font-style: italic;
}
.p{
    color: aliceblue;
}
.inp{
    height: 50px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;
    box-shadow: -26px -19px 30px -19px rgba(0,0,0,0.35);
    -webkit-box-shadow: -26px -19px 30px -19px rgba(0,0,0,0.35);
    -moz-box-shadow: -26px -19px 30px -19px rgba(0,0,0,0.35);
}

.btn1{
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background-color: rgb(29, 20, 84);
    color: white;
}
.btn1:hover{
    background-color: rgb(22, 19, 34);
    transition: 0.5s;
}

.fa-facebook{
    padding: 10px;
    font-size: 30px;
    border-radius: 40px;
    background-color:rgb(13, 16, 191);
}
.fa-facebook:hover{
    background-color: rgb(245, 242, 239);

}
.fa-instagram:hover{
    background-color: rgb(252, 246, 240);

}
.fa-instagram{
    padding: 10px;
    border-radius: 30px;
    font-size: 30px;
    background-color:rgb(210, 10, 107);
}